<!-- DO NOT MODIFY -->
<div class="container">
  <h1>Simple Simon Says</h1>

  <a id="get_color" href="#">Click Me</a>
</div>

<iframe id="spotify" src="https://embed.spotify.com/?uri=spotify:track:00ZRyybLZ2o4fdqZe8GETe" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
  
<ul id="color_me">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

